<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Compare DB Structure</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap core CSS -->
    <link href="public/MDB-Free_4.5.13/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="public/MDB-Free_4.5.13/css/mdb.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" media="screen" href="views/base.css" />
    <script src="main.js"></script>
</head>

<body>
    Using Twig Template System
    <br>
    <br>
    <a href="/dbcompare">dbcompare</a>
    <br>
    <a href="/dbcompare/api">dbcompare json API</a>



</body>

</html>